.short {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: #ffffff;

}
.akbootyfucker {

}
.FUCKNIGGA {
    background-color: black;
}
.akbootyfucker {
    margin: auto;
    display: flex;
    justify-content: center;
}
.akfuck {
    margin:auto;
    display:block;
    justify-content: left;
}
.audio1 {
    margin: auto;
    display: block;
    justify-content: center;
}
.video1 {
    margin: auto;
    display: block;
    justify-content: center;
}
.newpic {
        margin: auto;
    display: block;
    justify-content: center;
}
